name: ArcSat Linters

on:
    pull_request:
    workflow_dispatch:

jobs:
    commit-lint:
        name: Semantic Commits
        runs-on: ubuntu-latest
        if: github.event_name == 'pull_request'

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 200
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  check-latest: true
            - name: Check commit titles
              run: |
                  npm install @commitlint/cli @commitlint/config-conventional
                  npx commitlint --verbose --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }}

    python-linter:
        name: "Python Linter (ArcSat)"
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up Python 3.11
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            - name: Install Pre-commit
              run: pip install pre-commit

            - name: Run Pre-commit on ArcSat
              working-directory: crm
              run: |
                  pre-commit run --all-files --show-diff-on-failure || true
